<div class="container max-w-screen-xl mx-auto text-sm font-light bg-zinc-200 text-zinc-950 dark:text-zinc-50 dark:bg-zinc-800">
    <div class="flex flex-col md:flex-row gap-4 p-6">
        <!-- Left Side -->
        <div class="flex flex-col w-full md:w-1/3">
            <!-- Profile -->
            <div class="h-[200px] relative rounded-t-xl bg-gradient-to-b from-transparent to-zinc-50 dark:to-zinc-900">
                <img src="assets/img/openai-wallpaper.png" class="w-full h-[200px] rounded-t-xl" />
                <div class="absolute top-0 left-0 h-[200px] w-full rounded-t-xl bg-gradient-to-b from-transparent to-zinc-50 dark:to-zinc-900"></div>
                <img src="assets/img/soufiyan.png" class="z-10 absolute bottom-3 left-5 object-cover overflow-hidden rounded-full size-32">
            </div>
            <div class="flex flex-col bg-zinc-50 dark:bg-zinc-900 p-6 gap-y-4 rounded-b-xl">
                <div class="flex flex-col gap-y-2">
                    <div class="flex relative items-center gap-x-4">
                        <h1 class="text-base font-semibold">Soufiyan El Habbazi</h1>
                        <div class="mr-auto flex items-center justify-center">
                            <div class="absolute size-2 rounded-full bg-emerald-100 animate-ping"></div>
                            <div class="absolute size-1 rounded-full bg-emerald-400"></div>
                        </div>
                    </div>
                    <h2>Full Stack Developer | Morocco</h2>
                </div>
                <div>
                    <p class="font-extralight leading-6">
                        Software engineer passionate about building performant and user-friendly web apps.
                        <br/>
                        Currently looking for growth opportunities.
                    </p>
                </div>
                <hr class="h-px my-2 bg-zinc-200 border-0 dark:bg-zinc-800"/>
                <div class="flex flex-col gap-y-2 text-sm text-zinc-600 dark:text-zinc-400">
                    <a href="https://soufiyan.com" target="_blank" class="w-full flex items-center gap-x-2 font-medium rounded-lg hover:text-zinc-800 dark:hover:text-zinc-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                        </svg>
                        soufiyan.com
                    </a>
                    <a href="mailto:elhabbazisoufiyan.pro@gmail.com" target="_blank" class="w-full flex flex-wrap items-center gap-x-2 font-medium rounded-lg hover:text-zinc-800 dark:hover:text-zinc-200">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                        elhabbazisoufiyan.pro@gmail.com
                    </a>
                </div>
                <div class="flex mt-4">
                    <a href="./assets/myfile.pdf" download class="w-full flex items-center justify-center gap-x-2 font-medium text-white bg-blue-600 dark:bg-blue-500 hover:bg-blue-700 dark:hover:bg-blue-600 px-4 py-2 rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="size-4">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                        </svg>
                        Download CV
                    </a>
                </div>
            </div>

            <!-- About -->
            <div class="flex flex-col bg-zinc-50 dark:bg-zinc-900 rounded-xl my-4 p-6 gap-y-4 ">
                <h1 class="flex items-center gap-x-4 text-base font-medium">
                    <div class="size-1.5 rounded-full bg-blue-600 dark:bg-blue-500"></div>
                    <span>About me</span>
                </h1>
                <p class="text-sm text-justify font-extralight leading-6">
                    Software development engineer with expertise in full stack design and development.
                    I am a graduate of ENSET Mohammedia, dedicated to engineering web solutions,
                    and producing robust, scalable, and highly user-friendly applications.
                </p>
                <hr class="h-px my-2 bg-zinc-200 border-0 dark:bg-zinc-800"/>
                <div class="flex flex-col gap-y-2 text-sm text-zinc-800 dark:text-zinc-200">
                    <h1 class="flex items-center gap-x-4 text-sm mb-2 font-medium">
                        <span>Skills</span>
                    </h1>
                    <div class="flex flex-wrap text-xs font-mono gap-1">
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Java</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Spring</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Keycloak</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Typescript</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Python</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Angular</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Node.js</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Express</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">GraphQL</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">MySQL</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">PostgreSQL</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">MongoDB</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">ElasticSearch</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Angular Material</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">TailwindCSS</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Git</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Maven</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Docker</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Kubernetes</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">IntelliJ IDEA</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">VSCode</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">JUnit</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">Mockito</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">JMeter</span>
                        <span class="px-2 py-1 bg-zinc-300/50 dark:bg-zinc-700/50 rounded-xl">UML</span>
                    </div>
                </div>
            </div>
            <!-- Information -->
            <div class="flex flex-col bg-zinc-50 dark:bg-zinc-900 rounded-xl p-6 gap-y-2">
                <h1 class="flex items-center gap-x-4 text-base font-medium">
                    <div class="size-1.5 rounded-full bg-blue-600 dark:bg-blue-500"></div>
                    <span>Information</span>
                </h1>
                <div class="flex flex-col text-sm font-light gap-y-1 mt-2">
                    <p class="flex justify-between">
                        <span class="text-zinc-800 dark:text-zinc-200">Location</span>
                        <span class="font-medium">Mohammedia, Morocco</span>
                    </p>
                    <hr class="h-px my-2 bg-zinc-200 border-0 dark:bg-zinc-800"/>
                    <p class="flex justify-between">
                        <span class="text-zinc-800 dark:text-zinc-200">Experience</span>
                        <span class="font-medium">~ 1 year</span>
                    </p>
                    <hr class="h-px my-2 bg-zinc-200 border-0 dark:bg-zinc-800"/>
                    <p class="flex justify-between">
                        <span class="text-zinc-800 dark:text-zinc-200">Availability</span>
                        <span class="font-medium">Immediately</span>
                    </p>
                    <hr class="h-px my-2 bg-zinc-200 border-0 dark:bg-zinc-800"/>
                    <p class="flex justify-between">
                        <span class="text-zinc-800 dark:text-zinc-200">Relocation</span>
                        <span class="font-medium">Yes</span>
                    </p>
                </div>
            </div>
        </div>

        <!-- Right Side -->
        <div class="flex flex-col w-full md:w-2/3 gap-y-4">
            <!-- Navigation-->
            <div class="flex font-medium justify-around items-center gap-x-2 text-center p-2 bg-zinc-50 dark:bg-zinc-900 rounded-xl">
                <a routerLink="/resume" class="w-full px-4 py-2 hover:bg-zinc-200 dark:hover:bg-zinc-800 rounded-lg">Resume</a>
                <a routerLink="/resume/projects" class="w-full px-4 py-2 bg-zinc-200 dark:bg-zinc-800 rounded-lg">Projects</a>
            </div>

            <!-- Projects -->
            <div class="flex flex-col bg-zinc-50 dark:bg-zinc-900 rounded-xl gap-4 p-6">
                <h1 class="flex items-center gap-x-4 text-base font-medium">
                    <div class="size-1.5 rounded-full bg-blue-600 dark:bg-blue-500"></div>
                    <span>Projects</span>
                </h1>
                <div class="p-2 flex gap-x-4 justify-between font-light">
                    <div>
                        <img src="assets/img/logo-black.svg" alt="Company" class="p-0.5 size-14 bg-white rounded-full">
                    </div>
                    <div class="flex flex-col flex-1 gap-y-4">
                        <div class="flex flex-col">
                            <h1 class="font-medium py-1">My Personal Website</h1>
                            <div class="flex gap-x-4 text-xs font-medium">
                                <div class="flex text-zinc-600 dark:text-zinc-400 items-center gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M7.702 1.368a.75.75 0 0 1 .597 0c2.098.91 4.105 1.99 6.004 3.223a.75.75 0 0 1-.194 1.348A34.27 34.27 0 0 0 8.341 8.25a.75.75 0 0 1-.682 0c-.625-.32-1.262-.62-1.909-.901v-.542a36.878 36.878 0 0 1 2.568-1.33.75.75 0 0 0-.636-1.357 38.39 38.39 0 0 0-3.06 1.605.75.75 0 0 0-.372.648v.365c-.773-.294-1.56-.56-2.359-.8a.75.75 0 0 1-.194-1.347 40.901 40.901 0 0 1 6.005-3.223ZM4.25 8.348c-.53-.212-1.067-.411-1.611-.596a40.973 40.973 0 0 0-.418 2.97.75.75 0 0 0 .474.776c.175.068.35.138.524.21a5.544 5.544 0 0 1-.58.681.75.75 0 1 0 1.06 1.06c.35-.349.655-.726.915-1.124a29.282 29.282 0 0 0-1.395-.617A5.483 5.483 0 0 0 4.25 8.5v-.152Z" />
                                        <path d="M7.603 13.96c-.96-.6-1.958-1.147-2.989-1.635a6.981 6.981 0 0 0 1.12-3.341c.419.192.834.393 1.244.602a2.25 2.25 0 0 0 2.045 0 32.787 32.787 0 0 1 4.338-1.834c.175.978.315 1.969.419 2.97a.75.75 0 0 1-.474.776 29.385 29.385 0 0 0-4.909 2.461.75.75 0 0 1-.794 0Z" />
                                    </svg>
                                    <span>Personal Project</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Stanford, CA</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                                        <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>2018 - 2020</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-sm text-justify text-zinc-700 dark:text-zinc-300">
                          I developed my personal website from scratch, inspired by the innovative designs from the Tailwind community templates. The site, deployed on Vercel and linked to my personal domain soufiyan.com, serves as a dynamic platform for me to write blogs and personal thoughts, share project experiences, and present myself and my work. It ensures an informative and engaging online presence.
                        </p>
                        <a href="https://soufiyan.com" target="_blank" class="w-full flex items-center gap-x-2 font-medium rounded-lg text-blue-600 dark:text-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path fill-rule="evenodd" d="M11.914 4.086a2 2 0 0 0-2.828 0l-5 5a2 2 0 1 0 2.828 2.828l.556-.555a.75.75 0 0 1 1.06 1.06l-.555.556a3.5 3.5 0 0 1-4.95-4.95l5-5a3.5 3.5 0 0 1 4.95 4.95l-1.972 1.972a2.125 2.125 0 0 1-3.006-3.005L9.97 4.97a.75.75 0 1 1 1.06 1.06L9.058 8.003a.625.625 0 0 0 .884.883l1.972-1.972a2 2 0 0 0 0-2.828Z" clip-rule="evenodd" />
                            </svg>
                            soufiyan.com
                        </a>
                    </div>
                </div>
                <div class="p-2 flex gap-x-4 justify-between font-light">
                    <div>
                        <img src="assets/img/logo-black.svg" alt="Company" class="p-0.5 size-14 bg-white rounded-full">
                    </div>
                    <div class="flex flex-col flex-1 gap-y-4">
                        <div class="flex flex-col">
                            <h1 class="font-medium py-1">N7 Therapy</h1>
                            <div class="flex gap-x-4 text-xs font-medium">
                                <div class="flex text-zinc-600 dark:text-zinc-400 items-center gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M7.702 1.368a.75.75 0 0 1 .597 0c2.098.91 4.105 1.99 6.004 3.223a.75.75 0 0 1-.194 1.348A34.27 34.27 0 0 0 8.341 8.25a.75.75 0 0 1-.682 0c-.625-.32-1.262-.62-1.909-.901v-.542a36.878 36.878 0 0 1 2.568-1.33.75.75 0 0 0-.636-1.357 38.39 38.39 0 0 0-3.06 1.605.75.75 0 0 0-.372.648v.365c-.773-.294-1.56-.56-2.359-.8a.75.75 0 0 1-.194-1.347 40.901 40.901 0 0 1 6.005-3.223ZM4.25 8.348c-.53-.212-1.067-.411-1.611-.596a40.973 40.973 0 0 0-.418 2.97.75.75 0 0 0 .474.776c.175.068.35.138.524.21a5.544 5.544 0 0 1-.58.681.75.75 0 1 0 1.06 1.06c.35-.349.655-.726.915-1.124a29.282 29.282 0 0 0-1.395-.617A5.483 5.483 0 0 0 4.25 8.5v-.152Z" />
                                        <path d="M7.603 13.96c-.96-.6-1.958-1.147-2.989-1.635a6.981 6.981 0 0 0 1.12-3.341c.419.192.834.393 1.244.602a2.25 2.25 0 0 0 2.045 0 32.787 32.787 0 0 1 4.338-1.834c.175.978.315 1.969.419 2.97a.75.75 0 0 1-.474.776 29.385 29.385 0 0 0-4.909 2.461.75.75 0 0 1-.794 0Z" />
                                    </svg>
                                    <span>Stanford University</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Stanford, CA</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                                        <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>2018 - 2020</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-sm text-justify text-zinc-700 dark:text-zinc-300">
                          Full development of N7 Therapy, a psychological support platform offering various services, including a chatbot, anonymous posts, and secure notepads.                        </p>
                        <a href="https://soufiyan.com" target="_blank" class="w-full flex items-center gap-x-2 font-medium rounded-lg text-blue-600 dark:text-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path fill-rule="evenodd" d="M11.914 4.086a2 2 0 0 0-2.828 0l-5 5a2 2 0 1 0 2.828 2.828l.556-.555a.75.75 0 0 1 1.06 1.06l-.555.556a3.5 3.5 0 0 1-4.95-4.95l5-5a3.5 3.5 0 0 1 4.95 4.95l-1.972 1.972a2.125 2.125 0 0 1-3.006-3.005L9.97 4.97a.75.75 0 1 1 1.06 1.06L9.058 8.003a.625.625 0 0 0 .884.883l1.972-1.972a2 2 0 0 0 0-2.828Z" clip-rule="evenodd" />
                            </svg>
                            soufiyan.com
                        </a>
                    </div>
                </div>
                <div class="p-2 flex gap-x-4 justify-between font-light">
                    <div>
                      <img src="assets/img/logo-black.svg" alt="Company" class="p-0.5 size-14 bg-white rounded-full">
                    </div>
                    <div class="flex flex-col flex-1 gap-y-4">
                        <div class="flex flex-col">
                            <h1 class="font-medium py-1">Digital Banking </h1>
                            <div class="flex gap-x-4 text-xs font-medium">
                                <div class="flex text-zinc-600 dark:text-zinc-400 items-center gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M7.702 1.368a.75.75 0 0 1 .597 0c2.098.91 4.105 1.99 6.004 3.223a.75.75 0 0 1-.194 1.348A34.27 34.27 0 0 0 8.341 8.25a.75.75 0 0 1-.682 0c-.625-.32-1.262-.62-1.909-.901v-.542a36.878 36.878 0 0 1 2.568-1.33.75.75 0 0 0-.636-1.357 38.39 38.39 0 0 0-3.06 1.605.75.75 0 0 0-.372.648v.365c-.773-.294-1.56-.56-2.359-.8a.75.75 0 0 1-.194-1.347 40.901 40.901 0 0 1 6.005-3.223ZM4.25 8.348c-.53-.212-1.067-.411-1.611-.596a40.973 40.973 0 0 0-.418 2.97.75.75 0 0 0 .474.776c.175.068.35.138.524.21a5.544 5.544 0 0 1-.58.681.75.75 0 1 0 1.06 1.06c.35-.349.655-.726.915-1.124a29.282 29.282 0 0 0-1.395-.617A5.483 5.483 0 0 0 4.25 8.5v-.152Z" />
                                        <path d="M7.603 13.96c-.96-.6-1.958-1.147-2.989-1.635a6.981 6.981 0 0 0 1.12-3.341c.419.192.834.393 1.244.602a2.25 2.25 0 0 0 2.045 0 32.787 32.787 0 0 1 4.338-1.834c.175.978.315 1.969.419 2.97a.75.75 0 0 1-.474.776 29.385 29.385 0 0 0-4.909 2.461.75.75 0 0 1-.794 0Z" />
                                    </svg>
                                    <span>Stanford University</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Stanford, CA</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                                        <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>2018 - 2020</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-sm text-justify text-zinc-700 dark:text-zinc-300">
                          Created a full-stack application with services including user management, bank account management, and transaction processing.                        </p>
                        <a href="https://soufiyan.com" target="_blank" class="w-full flex items-center gap-x-2 font-medium rounded-lg text-blue-600 dark:text-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path fill-rule="evenodd" d="M11.914 4.086a2 2 0 0 0-2.828 0l-5 5a2 2 0 1 0 2.828 2.828l.556-.555a.75.75 0 0 1 1.06 1.06l-.555.556a3.5 3.5 0 0 1-4.95-4.95l5-5a3.5 3.5 0 0 1 4.95 4.95l-1.972 1.972a2.125 2.125 0 0 1-3.006-3.005L9.97 4.97a.75.75 0 1 1 1.06 1.06L9.058 8.003a.625.625 0 0 0 .884.883l1.972-1.972a2 2 0 0 0 0-2.828Z" clip-rule="evenodd" />
                            </svg>
                            soufiyan.com
                        </a>
                    </div>
                </div>
                <div class="p-2 flex gap-x-4 justify-between font-light">
                    <div>
                      <img src="assets/img/logo-black.svg" alt="Company" class="p-0.5 size-14 bg-white rounded-full">
                    </div>
                    <div class="flex flex-col flex-1 gap-y-4">
                        <div class="flex flex-col">
                            <h1 class="font-medium py-1">CLI Java-based AI Assistant</h1>
                            <div class="flex gap-x-4 text-xs font-medium">
                                <div class="flex text-zinc-600 dark:text-zinc-400 items-center gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M7.702 1.368a.75.75 0 0 1 .597 0c2.098.91 4.105 1.99 6.004 3.223a.75.75 0 0 1-.194 1.348A34.27 34.27 0 0 0 8.341 8.25a.75.75 0 0 1-.682 0c-.625-.32-1.262-.62-1.909-.901v-.542a36.878 36.878 0 0 1 2.568-1.33.75.75 0 0 0-.636-1.357 38.39 38.39 0 0 0-3.06 1.605.75.75 0 0 0-.372.648v.365c-.773-.294-1.56-.56-2.359-.8a.75.75 0 0 1-.194-1.347 40.901 40.901 0 0 1 6.005-3.223ZM4.25 8.348c-.53-.212-1.067-.411-1.611-.596a40.973 40.973 0 0 0-.418 2.97.75.75 0 0 0 .474.776c.175.068.35.138.524.21a5.544 5.544 0 0 1-.58.681.75.75 0 1 0 1.06 1.06c.35-.349.655-.726.915-1.124a29.282 29.282 0 0 0-1.395-.617A5.483 5.483 0 0 0 4.25 8.5v-.152Z" />
                                        <path d="M7.603 13.96c-.96-.6-1.958-1.147-2.989-1.635a6.981 6.981 0 0 0 1.12-3.341c.419.192.834.393 1.244.602a2.25 2.25 0 0 0 2.045 0 32.787 32.787 0 0 1 4.338-1.834c.175.978.315 1.969.419 2.97a.75.75 0 0 1-.474.776 29.385 29.385 0 0 0-4.909 2.461.75.75 0 0 1-.794 0Z" />
                                    </svg>
                                    <span>Stanford University</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path fill-rule="evenodd" d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>Stanford, CA</span>
                                </div>
                                <div class="flex text-zinc-600 dark:text-zinc-400 gap-x-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                        <path d="M5.75 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM5 10.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM10.25 7.5a.75.75 0 1 0 0 1.5.75.75 0 0 0 0-1.5ZM7.25 8.25a.75.75 0 1 1 1.5 0 .75.75 0 0 1-1.5 0ZM8 9.5A.75.75 0 1 0 8 11a.75.75 0 0 0 0-1.5Z" />
                                        <path fill-rule="evenodd" d="M4.75 1a.75.75 0 0 0-.75.75V3a2 2 0 0 0-2 2v7a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2V1.75a.75.75 0 0 0-1.5 0V3h-5V1.75A.75.75 0 0 0 4.75 1ZM3.5 7a1 1 0 0 1 1-1h7a1 1 0 0 1 1 1v4.5a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7Z" clip-rule="evenodd" />
                                    </svg>
                                    <span>2018 - 2020</span>
                                </div>
                            </div>
                        </div>
                        <p class="text-sm text-justify text-zinc-700 dark:text-zinc-300">
                          Developed a command-line AI assistant to streamline and enhance development with Spring Boot.                        </p>
                        <a href="https://soufiyan.com" target="_blank" class="w-full flex items-center gap-x-2 font-medium rounded-lg text-blue-600 dark:text-blue-500">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="size-4">
                                <path fill-rule="evenodd" d="M11.914 4.086a2 2 0 0 0-2.828 0l-5 5a2 2 0 1 0 2.828 2.828l.556-.555a.75.75 0 0 1 1.06 1.06l-.555.556a3.5 3.5 0 0 1-4.95-4.95l5-5a3.5 3.5 0 0 1 4.95 4.95l-1.972 1.972a2.125 2.125 0 0 1-3.006-3.005L9.97 4.97a.75.75 0 1 1 1.06 1.06L9.058 8.003a.625.625 0 0 0 .884.883l1.972-1.972a2 2 0 0 0 0-2.828Z" clip-rule="evenodd" />
                            </svg>
                            soufiyan.com
                        </a>
                    </div>
                </div>

                <hr class="h-px my-2 bg-zinc-200 border-0 dark:bg-zinc-800"/>

                <div class="my-4 p-2 flex flex-col gap-4 text-center items-center justify-center font-medium">
                    <div class="flex items-center justify-center gap-x-4">
                        <ng-icon name="heroChevronDoubleDownSolid" size="16" class="text-black dark:text-white animate-bounce"></ng-icon>
                        More projects can be found on my GitHub profile
                        <ng-icon name="heroChevronDoubleDownSolid" size="16" class="text-black dark:text-white animate-bounce"></ng-icon>
                    </div>
                    <div class="flex justify-center items-center">
                        <a class="flex items-center gap-x-2 bg-zinc-800 text-zinc-100 dark:text-zinc-900 dark:bg-zinc-200 rounded-lg py-2 px-5" href="https://github.com/soufiyanelhabbazi" target="_blank">
                            <ng-icon name="simpleGithub" size="20"></ng-icon>
                            <span class="font-extrabold">GitHub</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
